@font-face{
    font-family: 'irohamaru';
    src:url(font/irohamaru-Regular.ttf) format('TrueType');
    font-family:'Gotham-Bold';
    src:url(font/Gotham-Bold.otf) format('OpenType');
}

body{
    /* padding:0; */
    margin:0;
    background-color:#ffffed;
}

.name_tag{
    width:400px;
    height:100px;
}

.name_tag img{
    width:320px;
    height:80px;
    padding:10px 60px;
    z-index:9998;
}

li{
    list-style: none;
}

.header-list{
    position:fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 9998;
    font-family:Gotham-Bold;
    font-size: 23px;
    color:black;
    /* top:30px; */
    width:100%;
    height:100px;
    padding: 0;
    /* transition: all 0.2s ease-in-out; */
    background-color:transparent; 
    /* margin:3%; */
    background-color:white;
    box-shadow: 2px 0px 4px;
}

.header-list ul{
    width:100%;
    padding:0;
}

.header-list li{
    text-align: center;
    float:left;
    /* display: flex; */
    width:calc(100% / 5);
    line-height: 23px;
    padding:15px 0;
}

.list2{
    line-height: 30px;
    padding:30px 0;
    margin-right:65px;
}

.header-list a{
    text-decoration: none;
}

.header-list li{
    /* border: 2px black solid; */
    box-sizing: border-box;
    transition: border 0.2s ease 0s;
  }
.header-list li:hover{
    border: 5px #ffb414 solid;
}

.header-list a:visited {
    color: black;
  }

@media screen and (max-width: 640px) {
    .name_tag{
       display: none;
    }

    .name_tag img{
        display: none;
     }
} 


.contents-wrapper{
    position: relative;
    top:180px;
}


.box1 img{
    position:relative;
    top:100px;
    width:100%;
}

.prTitle{
    background-color: #ffb414;
    width:300px;
    height:60px;
    display:flex;
    box-shadow: 6px 6px #c2201f;
    margin:0 auto 0 185px;
}

.prTitle h1{
    color: white;
    font-family: Gotham-Bold;
    font-size: 40px;
    line-height: 25px;
    margin:0;
    padding:15px;
}

.prTitle h2{
    color:white;
    font-family: irohamaru;
    font-size: 30px;
    line-height: 30px;
    margin:0;
    padding:15px;
}

.pr{
    /* position:relative; */
    /* top:300px; */
    display: flex;
    width: 910px;
    /* height: 600px; */
    margin:50px auto;
    /* background-color:#ffb414; */
    justify-content: center;
    
}

.prBox1{
    position: relative;
    /* left:150px; */
    width:350px;
    height:350px;
    text-align:center;
    border-radius: 50%;
    background-color: white;
    font-family: irohamaru;
    font-size: 25px;
    margin:0 30px;
    box-shadow: 4px 4px 4px gray;
}

.prBox1 p{
    position: absolute;
    width:350px;
    margin:0;
    text-align:center;
    line-height:60px;
    top:50%;
    left:0;
    transform: translateY(-50%);
}

.prBox1 span{
    font-size: 30px;
}

.prBox1 a{
    text-decoration: none;
    color: #ffb414;
}

.prBox1 a:hover{
    color: red;
}

.prBox1 a:visited{
    text-decoration: none;
}

.prPhoto{
    width:573px;
    height:280px;
}

.prPhoto{
    /* position:absolute; */
    width:573px;
    height:280px;
    /* top:80%; */
    margin:auto;
}

.prPhoto img{
    /* position:absolute; */
    width:573px;
    height:280px;
    /* top:80%; */
    margin:auto;
}

.prBox2{
    position: relative;
    /* left:450px; */
    width:350px;
    height:350px;
    border-radius: 50%;
    background-color: white;
    font-family: irohamaru;
    font-size: 25px;
    margin:0 30px;
    box-shadow: 4px 4px 4px gray;
}

.prBox2 p{
    position: absolute;
    width:350px;
    text-align:center;
    line-height:60px;
    top:50%;
    left:0;
    margin:0;
    transform: translateY(-50%);
}

.prBox2 span{
    font-size: 30px;
}

.fee{
    position:relative;
    /* top:300px; */
    width: 910px;
    /* height: 600px; */
    margin:30px auto;
    /* background-color:#ffb414; */
    
}

.feeTitle{
    background-color: #ffb414;
    width:330px;
    height:60px;
    display:flex;
    box-shadow: 6px 6px #c2201f;
    margin:80px auto 0 185px;
}

.feeTitle h1{
    color: white;
    font-family: Gotham-Bold;
    font-size: 40px;
    line-height: 25px;
    margin:0;
    padding:15px;
}

.feeTitle h2{
    color:white;
    font-family: irohamaru;
    font-size: 30px;
    line-height: 30px;
    margin:0;
    padding:15px;
}

.feeBox{
    display: flex;
    justify-content: center;
    margin:30px;
}

.feePhoto img{
    width:350px;
    height:435px;
    margin:30px;
}

.feeContents{
    margin:50px 30px;
}

.feeContents p{
    font-family: irohamaru;
    font-size: 20px;
    line-height: 50px;
    
}

.feeContents span{
    font-size: 30px;
}


.button{
    /* position:relative; */
    /* top:300px; */
    /* width:960px; */
    height:180px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-around;
}

.gr-button img{
    /* position:relative;
    top:200px; */
    width:455px;
    height:57px;
    margin:50px;
}

.prfe-button img{
    width:455px;
    height:57px;
    margin:50px;
}

.pageTop{
    position:relative;
    z-index:100;
    top:250px;
    width:155px;
    height:153px;
    margin-left:auto;
}

.pageTop img{
    width:100px;
    height:100px;
    right: 0;
}

.kusa img{
    position: relative;
    width:100%;
    top:220px;
}

footer{
    position:relative;
    top:200px;
    /* align-items:flex-end; */
    width: 100%;
    background-color: #ffb414;
    color: black;
    text-align: center;
    padding: 30px 0;
}